openapi: 3.0.3
info:
  title: 'Betsjournal API'
  description: 'Manage and analyze your bets from anywhere with Betsjournal.'
  version: 1.0.0
servers:
  -
    url: 'https://betsjournal.io'
paths:
  /api/v1/bets:
    get:
      summary: 'Display all bets.'
      operationId: displayAllBets
      description: 'Get all of your recorded bets.'
      parameters:
        -
          in: query
          name: page
          description: 'Page to view.'
          example: 14
          required: false
          schema:
            type: integer
            description: 'Page to view.'
            example: 14
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 158
                      sport: quibusdam
                      match: 'Sit sunt asperiores voluptatem.'
                      match_date: '2010-04-15'
                      match_time: '17:57'
                      bookie: ut
                      bet_type: voluptas
                      bet_description: 'Odio sit enim dolorum vitae esse.'
                      bet_pick: velit
                      bet_size: 282.69
                      decimal_odd: 7.209
                      american_odd: 83.364
                      result: 0
                      cashout: 162.29
                      created_at: '2023-01-22T06:31:45.000000Z'
                      updated_at: '2023-01-22T06:31:45.000000Z'
                      categories: []
                    -
                      id: 159
                      sport: et
                      match: 'Est aut quis rerum sunt.'
                      match_date: '1982-04-12'
                      match_time: '05:43'
                      bookie: dolorem
                      bet_type: excepturi
                      bet_description: 'Cumque voluptas in corporis id.'
                      bet_pick: cumque
                      bet_size: 216.97
                      decimal_odd: 8.291
                      american_odd: -73.358
                      result: 0
                      cashout: 120.26
                      created_at: '2023-01-22T06:31:45.000000Z'
                      updated_at: '2023-01-22T06:31:45.000000Z'
                      categories: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 158
                        sport: quibusdam
                        match: 'Sit sunt asperiores voluptatem.'
                        match_date: '2010-04-15'
                        match_time: '17:57'
                        bookie: ut
                        bet_type: voluptas
                        bet_description: 'Odio sit enim dolorum vitae esse.'
                        bet_pick: velit
                        bet_size: 282.69
                        decimal_odd: 7.209
                        american_odd: 83.364
                        result: 0
                        cashout: 162.29
                        created_at: '2023-01-22T06:31:45.000000Z'
                        updated_at: '2023-01-22T06:31:45.000000Z'
                        categories: []
                      -
                        id: 159
                        sport: et
                        match: 'Est aut quis rerum sunt.'
                        match_date: '1982-04-12'
                        match_time: '05:43'
                        bookie: dolorem
                        bet_type: excepturi
                        bet_description: 'Cumque voluptas in corporis id.'
                        bet_pick: cumque
                        bet_size: 216.97
                        decimal_odd: 8.291
                        american_odd: -73.358
                        result: 0
                        cashout: 120.26
                        created_at: '2023-01-22T06:31:45.000000Z'
                        updated_at: '2023-01-22T06:31:45.000000Z'
                        categories: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 158
                        sport:
                          type: string
                          example: quibusdam
                        match:
                          type: string
                          example: 'Sit sunt asperiores voluptatem.'
                        match_date:
                          type: string
                          example: '2010-04-15'
                        match_time:
                          type: string
                          example: '17:57'
                        bookie:
                          type: string
                          example: ut
                        bet_type:
                          type: string
                          example: voluptas
                        bet_description:
                          type: string
                          example: 'Odio sit enim dolorum vitae esse.'
                        bet_pick:
                          type: string
                          example: velit
                        bet_size:
                          type: number
                          example: 282.69
                        decimal_odd:
                          type: number
                          example: 7.209
                        american_odd:
                          type: number
                          example: 83.364
                        result:
                          type: integer
                          example: 0
                        cashout:
                          type: number
                          example: 162.29
                        created_at:
                          type: string
                          example: '2023-01-22T06:31:45.000000Z'
                        updated_at:
                          type: string
                          example: '2023-01-22T06:31:45.000000Z'
                        categories:
                          type: array
                          example: []
      tags:
        - Bets
    post:
      summary: 'Store a newly created bet.'
      operationId: storeANewlyCreatedBet
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 160
                    sport: sint
                    match: 'Enim tempore odio rerum minima.'
                    match_date: '1971-07-27'
                    match_time: '14:03'
                    bookie: quia
                    bet_type: eaque
                    bet_description: 'Debitis ut veniam totam qui quod quos.'
                    bet_pick: quas
                    bet_size: 210.39
                    decimal_odd: 3.043
                    american_odd: 1.966
                    result: 1
                    cashout: 211.83
                    created_at: '2023-01-22T06:31:46.000000Z'
                    updated_at: '2023-01-22T06:31:46.000000Z'
                    categories: []
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 160
                      sport:
                        type: string
                        example: sint
                      match:
                        type: string
                        example: 'Enim tempore odio rerum minima.'
                      match_date:
                        type: string
                        example: '1971-07-27'
                      match_time:
                        type: string
                        example: '14:03'
                      bookie:
                        type: string
                        example: quia
                      bet_type:
                        type: string
                        example: eaque
                      bet_description:
                        type: string
                        example: 'Debitis ut veniam totam qui quod quos.'
                      bet_pick:
                        type: string
                        example: quas
                      bet_size:
                        type: number
                        example: 210.39
                      decimal_odd:
                        type: number
                        example: 3.043
                      american_odd:
                        type: number
                        example: 1.966
                      result:
                        type: integer
                        example: 1
                      cashout:
                        type: number
                        example: 211.83
                      created_at:
                        type: string
                        example: '2023-01-22T06:31:46.000000Z'
                      updated_at:
                        type: string
                        example: '2023-01-22T06:31:46.000000Z'
                      categories:
                        type: array
                        example: []
      tags:
        - Bets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: 'The name of the match.'
                  example: 'Real Madrid vs Barcelona'
                bet_size:
                  type: number
                  description: 'The amount staked on the bet.'
                  example: 100.0
                odd:
                  type: float|int
                  description: 'The odd of the bet being offered.'
                  example: '2.5'
                sport:
                  type: string
                  description: 'The name of the sport.'
                  example: Soccer
                match_date:
                  type: string
                  description: 'The date of the match.'
                  example: '2023-1-25'
                match_time:
                  type: string
                  description: 'The time of the match.'
                  example: '21:00'
                bookie:
                  type: string
                  description: 'The name of bookie offering the bet.'
                  example: bet365
                bet_type:
                  type: string
                  description: 'The type of bet.'
                  example: 'Money Line'
                bet_description:
                  type: string
                  description: 'Brief description of the bet being placed.'
                  example: 'Champions League Final'
                bet_pick:
                  type: string
                  description: 'The name of the team being bet on.'
                  example: 'Real Madrid'
                result:
                  type: integer
                  description: 'The result of the bet being recorded, ranging from 0 to 2:'
                  example: 1
                cashout:
                  type: int|float
                  description: 'The amount for which the bet was cashed out.'
                  example: '50.0'
                categories:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
                'categories[]':
                  type: integer
                  description: 'An array of categories for which the bet belogs to.'
                  example: 2
              required:
                - match
                - bet_size
                - odd
                - sport
                - match_date
                - match_time
                - bookie
                - bet_type
                - bet_pick
  '/api/v1/bets/{id}':
    get:
      summary: 'Show a single, specific bet.'
      operationId: showASingleSpecificBet
      description: 'See the details for a specific bet.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 161
                    sport: dolorem
                    match: 'Quis ut omnis inventore nemo ea eos et illum.'
                    match_date: '1989-05-14'
                    match_time: '02:55'
                    bookie: itaque
                    bet_type: voluptas
                    bet_description: 'Maxime architecto vitae molestiae alias nemo hic neque.'
                    bet_pick: et
                    bet_size: 241.83
                    decimal_odd: 3.544
                    american_odd: -441.673
                    result: null
                    cashout: 115.96
                    created_at: '2023-01-22T06:31:46.000000Z'
                    updated_at: '2023-01-22T06:31:46.000000Z'
                    categories: []
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 161
                      sport:
                        type: string
                        example: dolorem
                      match:
                        type: string
                        example: 'Quis ut omnis inventore nemo ea eos et illum.'
                      match_date:
                        type: string
                        example: '1989-05-14'
                      match_time:
                        type: string
                        example: '02:55'
                      bookie:
                        type: string
                        example: itaque
                      bet_type:
                        type: string
                        example: voluptas
                      bet_description:
                        type: string
                        example: 'Maxime architecto vitae molestiae alias nemo hic neque.'
                      bet_pick:
                        type: string
                        example: et
                      bet_size:
                        type: number
                        example: 241.83
                      decimal_odd:
                        type: number
                        example: 3.544
                      american_odd:
                        type: number
                        example: -441.673
                      result:
                        type: string
                        example: null
                      cashout:
                        type: number
                        example: 115.96
                      created_at:
                        type: string
                        example: '2023-01-22T06:31:46.000000Z'
                      updated_at:
                        type: string
                        example: '2023-01-22T06:31:46.000000Z'
                      categories:
                        type: array
                        example: []
      tags:
        - Bets
    put:
      summary: 'Update a bet.'
      operationId: updateABet
      description: 'Modify a previously recorded bet.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 162
                    sport: quam
                    match: 'Provident rerum et facere voluptatem autem ducimus et.'
                    match_date: '2010-08-29'
                    match_time: '22:17'
                    bookie: animi
                    bet_type: ex
                    bet_description: 'Pariatur accusamus optio nihil dolorum.'
                    bet_pick: qui
                    bet_size: 239.58
                    decimal_odd: 5.202
                    american_odd: 53.598
                    result: 2
                    cashout: 138.56
                    created_at: '2023-01-22T06:31:47.000000Z'
                    updated_at: '2023-01-22T06:31:47.000000Z'
                    categories: []
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 162
                      sport:
                        type: string
                        example: quam
                      match:
                        type: string
                        example: 'Provident rerum et facere voluptatem autem ducimus et.'
                      match_date:
                        type: string
                        example: '2010-08-29'
                      match_time:
                        type: string
                        example: '22:17'
                      bookie:
                        type: string
                        example: animi
                      bet_type:
                        type: string
                        example: ex
                      bet_description:
                        type: string
                        example: 'Pariatur accusamus optio nihil dolorum.'
                      bet_pick:
                        type: string
                        example: qui
                      bet_size:
                        type: number
                        example: 239.58
                      decimal_odd:
                        type: number
                        example: 5.202
                      american_odd:
                        type: number
                        example: 53.598
                      result:
                        type: integer
                        example: 2
                      cashout:
                        type: number
                        example: 138.56
                      created_at:
                        type: string
                        example: '2023-01-22T06:31:47.000000Z'
                      updated_at:
                        type: string
                        example: '2023-01-22T06:31:47.000000Z'
                      categories:
                        type: array
                        example: []
      tags:
        - Bets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: 'The name of the match.'
                  example: 'Real Madrid vs Barcelona'
                bet_size:
                  type: number
                  description: 'The amount staked on the bet.'
                  example: 100.0
                odd:
                  type: float|int
                  description: 'The odd of the bet being offered.'
                  example: '2.5'
                sport:
                  type: string
                  description: 'The name of the sport.'
                  example: Soccer
                match_date:
                  type: string
                  description: 'The date of the match.'
                  example: '2023-1-25'
                match_time:
                  type: string
                  description: 'The time of the match.'
                  example: '21:00'
                bookie:
                  type: string
                  description: 'The name of bookie offering the bet.'
                  example: bet365
                bet_type:
                  type: string
                  description: 'The type of bet.'
                  example: 'Money Line'
                bet_description:
                  type: string
                  description: 'Brief description of the bet being placed.'
                  example: 'Champions League Final'
                bet_pick:
                  type: string
                  description: 'The name of the team being bet on.'
                  example: 'Real Madrid'
                result:
                  type: integer
                  description: 'The result of the bet being recorded, ranging from 0 to 2:'
                  example: 1
                cashout:
                  type: int|float
                  description: 'The amount for which the bet was cashed out.'
                  example: '50.0'
                categories:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
                'categories[]':
                  type: integer
                  description: 'An array of categories for which the bet belogs to.'
                  example: 2
              required:
                - match
                - bet_size
                - odd
                - sport
                - match_date
                - match_time
                - bookie
                - bet_type
                - bet_pick
    delete:
      summary: 'Delete bet.'
      operationId: deleteBet
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Bet deleted!'
                properties:
                  message:
                    type: string
                    example: 'Bet deleted!'
      tags:
        - Bets
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the bet.'
        example: 2
        required: true
        schema:
          type: integer
  /api/v1/categories/colors:
    get:
      summary: 'returns list of available category colors.'
      operationId: returnsListOfAvailableCategoryColors
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - blue
                  - indigo
                  - brown
                  - black
                  - yellow
      tags:
        - Categories
  /api/v1/categories:
    get:
      summary: 'Display all categories.'
      operationId: displayAllCategories
      description: 'Get all of your created categories.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 67
                      name: 'Perspiciatis totam.'
                      color: black
                      created_at: '2023-01-22T06:31:47.000000Z'
                      updated_at: '2023-01-22T06:31:47.000000Z'
                    -
                      id: 68
                      name: 'Repudiandae illum molestias.'
                      color: black
                      created_at: '2023-01-22T06:31:47.000000Z'
                      updated_at: '2023-01-22T06:31:47.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 67
                        name: 'Perspiciatis totam.'
                        color: black
                        created_at: '2023-01-22T06:31:47.000000Z'
                        updated_at: '2023-01-22T06:31:47.000000Z'
                      -
                        id: 68
                        name: 'Repudiandae illum molestias.'
                        color: black
                        created_at: '2023-01-22T06:31:47.000000Z'
                        updated_at: '2023-01-22T06:31:47.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 67
                        name:
                          type: string
                          example: 'Perspiciatis totam.'
                        color:
                          type: string
                          example: black
                        created_at:
                          type: string
                          example: '2023-01-22T06:31:47.000000Z'
                        updated_at:
                          type: string
                          example: '2023-01-22T06:31:47.000000Z'
      tags:
        - Categories
    post:
      summary: 'Store a newly created category.'
      operationId: storeANewlyCreatedCategory
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 69
                    name: 'Odit beatae.'
                    color: yellow
                    created_at: '2023-01-22T06:31:47.000000Z'
                    updated_at: '2023-01-22T06:31:47.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 69
                      name:
                        type: string
                        example: 'Odit beatae.'
                      color:
                        type: string
                        example: yellow
                      created_at:
                        type: string
                        example: '2023-01-22T06:31:47.000000Z'
                      updated_at:
                        type: string
                        example: '2023-01-22T06:31:47.000000Z'
      tags:
        - Categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the category.'
                  example: 'Value Bets'
                color:
                  type: string
                  description: "The category's color."
                  example: indigo
              required:
                - name
                - color
  '/api/v1/categories/{id}':
    get:
      summary: 'Show a single, specific category.'
      operationId: showASingleSpecificCategory
      description: 'See the details for a specific category.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 70
                    name: 'Delectus consequatur et.'
                    color: indigo
                    created_at: '2023-01-22T06:31:47.000000Z'
                    updated_at: '2023-01-22T06:31:47.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 70
                      name:
                        type: string
                        example: 'Delectus consequatur et.'
                      color:
                        type: string
                        example: indigo
                      created_at:
                        type: string
                        example: '2023-01-22T06:31:47.000000Z'
                      updated_at:
                        type: string
                        example: '2023-01-22T06:31:47.000000Z'
      tags:
        - Categories
    put:
      summary: 'Update a bet.'
      operationId: updateABet
      description: 'Modify a previously created category.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 71
                    name: 'Ea non earum.'
                    color: black
                    created_at: '2023-01-22T06:31:48.000000Z'
                    updated_at: '2023-01-22T06:31:48.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 71
                      name:
                        type: string
                        example: 'Ea non earum.'
                      color:
                        type: string
                        example: black
                      created_at:
                        type: string
                        example: '2023-01-22T06:31:48.000000Z'
                      updated_at:
                        type: string
                        example: '2023-01-22T06:31:48.000000Z'
      tags:
        - Categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the category.'
                  example: MMA
                color:
                  type: string
                  description: "The category's color."
                  example: blue
              required:
                - name
                - color
    delete:
      summary: 'Delete category.'
      operationId: deleteCategory
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category deleted!'
                properties:
                  message:
                    type: string
                    example: 'Category deleted!'
      tags:
        - Categories
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the category.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/bets/stats:
    get:
      summary: "Get the stats for all your bets.\n\nSee your bet's analysis, done for you so that you don't have to open excel."
      operationId: getTheStatsForAllYourBetsSeeYourBetsAnalysisDoneForYouSoThatYouDontHaveToOpenExcel
      description: ''
      parameters:
        -
          in: query
          name: categories
          description: 'Comma-separated list of categories to filter by.'
          example: '1,2'
          required: false
          schema:
            type: string
            description: 'Comma-separated list of categories to filter by.'
            example: '1,2'
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  totalBets: 76
                  totalWinBets: 39
                  totalLossBets: 17
                  totalNaBets: 5
                  totalCOBets: 15
                  averageOdds: 4.398
                  impliedProbability: '22.74'
                  actualProbability: '69.64'
                  totalGains: 8214.45
                  totalLosses: -43.630000000001
                  netProfit: 8258.08
                  biggestBet: '299.90'
                  biggestPayout: 1363.82036
                  biggestLoss: 286.28
                properties:
                  totalBets:
                    type: integer
                    example: 76
                  totalWinBets:
                    type: integer
                    example: 39
                  totalLossBets:
                    type: integer
                    example: 17
                  totalNaBets:
                    type: integer
                    example: 5
                  totalCOBets:
                    type: integer
                    example: 15
                  averageOdds:
                    type: number
                    example: 4.398
                  impliedProbability:
                    type: string
                    example: '22.74'
                  actualProbability:
                    type: string
                    example: '69.64'
                  totalGains:
                    type: number
                    example: 8214.45
                  totalLosses:
                    type: number
                    example: -43.630000000001
                  netProfit:
                    type: number
                    example: 8258.08
                  biggestBet:
                    type: string
                    example: '299.90'
                  biggestPayout:
                    type: number
                    example: 1363.82036
                  biggestLoss:
                    type: number
                    example: 286.28
      tags:
        - Stats
  /api/v1/user:
    get:
      summary: 'Get your account information.'
      operationId: getYourAccountInformation
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  name: 'Pedro Motta'
                  email: phpaivamotta@gmail.com
                  email_verified_at: null
                  odd_type: decimal
                  created_at: '2022-12-30T01:07:15.000000Z'
                  updated_at: '2023-01-09T03:38:15.000000Z'
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: 'Pedro Motta'
                  email:
                    type: string
                    example: phpaivamotta@gmail.com
                  email_verified_at:
                    type: string
                    example: null
                  odd_type:
                    type: string
                    example: decimal
                  created_at:
                    type: string
                    example: '2022-12-30T01:07:15.000000Z'
                  updated_at:
                    type: string
                    example: '2023-01-09T03:38:15.000000Z'
      tags:
        - User
  /api/v1/value-bets:
    get:
      summary: 'Get value bets.'
      operationId: getValueBets
      description: 'Get a list of value bets for your selected bookie region and min. over value.'
      parameters:
        -
          in: query
          name: sport
          description: 'The selected sport market from list of available sports which can be obtained from the /value-bets/sports endpoint.'
          example: soccer_italy_serie_a
          required: true
          schema:
            type: string
            description: 'The selected sport market from list of available sports which can be obtained from the /value-bets/sports endpoint.'
            example: soccer_italy_serie_a
        -
          in: query
          name: regions
          description: 'Comma-separated list of regions to filter by.'
          example: 'us,uk'
          required: true
          schema:
            type: string
            description: 'Comma-separated list of regions to filter by.'
            example: 'us,uk'
        -
          in: query
          name: overValue
          description: 'float|int required Min. over value percentage to filter value bets by.'
          example: '20'
          required: false
          schema:
            type: string
            description: 'float|int required Min. over value percentage to filter value bets by.'
            example: '20'
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    home_team: 'Hellas Verona FC'
                    away_team: Lecce
                    sport: 'Serie A - Italy'
                    num_bookies_analyzed:
                      home_team: 32
                      away_team: 32
                      draw: 32
                    commence_time: '2023-01-21T14:00:00Z'
                    value_bets:
                      home_team:
                        Matchbook:
                          over_value: 0.0576
                          money_line: 2.52
                      away_team:
                        Bovada:
                          over_value: 0.07
                          money_line: 3.5
                        Betfair:
                          over_value: 0.0547
                          money_line: 3.45
                        Matchbook:
                          over_value: 0.0547
                          money_line: 3.45
                  -
                    home_team: Salernitana
                    away_team: Napoli
                    sport: 'Serie A - Italy'
                    num_bookies_analyzed:
                      home_team: 33
                      away_team: 33
                      draw: 33
                    commence_time: '2023-01-21T17:00:00Z'
                    value_bets:
                      home_team:
                        Ladbrokes:
                          over_value: 0.066
                          money_line: 10.5
                        Coral:
                          over_value: 0.1168
                          money_line: 11
                        'Bet Victor':
                          over_value: 0.1168
                          money_line: 11
                        'Sky Bet':
                          over_value: 0.1168
                          money_line: 11
                        Betfair:
                          over_value: 0.1168
                          money_line: 11
                        'William Hill (US)':
                          over_value: 0.066
                          money_line: 10.5
                        Matchbook:
                          over_value: 0.1168
                          money_line: 11
                      draw:
                        Betfair:
                          over_value: 0.0901
                          money_line: 6.4
                        SugarHouse:
                          over_value: 0.0645
                          money_line: 6.25
                        Matchbook:
                          over_value: 0.0901
                          money_line: 6.4
                        LowVig.ag:
                          over_value: 0.0815
                          money_line: 6.35
                        BetOnline.ag:
                          over_value: 0.0815
                          money_line: 6.35
      tags:
        - 'Value Bets'
tags:
  -
    name: Bets
    description: "\nManage your bet resources."
  -
    name: Categories
    description: "\nManage your category resources."
  -
    name: Stats
    description: ''
  -
    name: User
    description: ''
  -
    name: 'Value Bets'
    description: "\nGet value bet opportunities."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
