@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1672533867 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1672533867 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 169px;
}

.custom-shape-divider-top-1672533867 .shape-fill {
    fill: #4A90E2;
}